---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="mx-auto prose prose-{{site.theme-color}}">
  <div>
    <img class="object-cover mx-auto h-36 w-36 rounded-full" style="box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
      alt="author profile image">
    <h1>{{site.author}}</h1>
  </div>
  {% if site.author-bio %}
  <p class="text-gray-500 pb-4 text-center">{{site.author-bio}}</p>
  {% endif %}

  <div class="px-4">
    {{content}}
  </div>
</div>
</div>

{% include social-media.html %}
{% include footer.html %}
