.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.navbar-title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
#navbar-title-text {
    /* padding-top: 12px; */
    font-weight: 500;
}
.navbar-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.navbar-item {
    text-decoration: none;
    color: #888;
    font-weight: unset;
}
.navbar-item:hover {
    color: #666;
}
.navbar-item.active {
    /* font-weight: 500; */
    color: var(--text);
}
.navbar-item.active:hover {
    color: #555;
}

#logo {
    width: 2.5em;
    /* height: 2.5em; */
    padding-inline-end: 12px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding-block: 0px;
    }
    .navbar-items {
        margin-top: 1rem;
    }
}
